[submodule "core/bash-mcpb"]
	path = core/bash-mcpb
	url = git@github.com:zerocore-ai-library/bash-mcpb.git
[submodule "core/elicitation-mcpb"]
	path = core/elicitation-mcpb
	url = git@github.com:zerocore-ai-library/elicitation-mcpb.git
[submodule "core/filesystem-mcpb"]
	path = core/filesystem-mcpb
	url = git@github.com:zerocore-ai-library/filesystem-mcpb.git
[submodule "core/plugins-mcpb"]
	path = core/plugins-mcpb
	url = git@github.com:zerocore-ai-library/plugins-mcpb.git
[submodule "core/system-mcpb"]
	path = core/system-mcpb
	url = git@github.com:zerocore-ai-library/system-mcpb.git
[submodule "core/terminal-mcpb"]
	path = core/terminal-mcpb
	url = git@github.com:zerocore-ai-library/terminal-mcpb.git
[submodule "core/todolist-mcpb"]
	path = core/todolist-mcpb
	url = git@github.com:zerocore-ai-library/todolist-mcpb.git
[submodule "core/web-mcpb"]
	path = core/web-mcpb
	url = git@github.com:zerocore-ai-library/web-mcpb.git
[submodule "external/atlassian-mcpb"]
	path = external/atlassian-mcpb
	url = git@github.com:zerocore-ai-library/atlassian-mcpb.git
[submodule "external/elastic-mcpb"]
	path = external/elastic-mcpb
	url = git@github.com:zerocore-ai-library/elastic-mcpb.git
[submodule "external/linear-mcpb"]
	path = external/linear-mcpb
	url = git@github.com:zerocore-ai-library/linear-mcpb.git
[submodule "external/monday-mcpb"]
	path = external/monday-mcpb
	url = git@github.com:zerocore-ai-library/monday-mcpb.git
[submodule "external/mongodb-mcpb"]
	path = external/mongodb-mcpb
	url = git@github.com:zerocore-ai-library/mongodb-mcpb.git
[submodule "external/github-mcpb"]
	path = external/github-mcpb
	url = git@github.com:zerocore-ai-library/github-mcpb.git
[submodule "core/opendata-mcpb"]
	path = core/opendata-mcpb
	url = git@github.com:zerocore-ai-library/opendata-mcpb.git
