[submodule "core/bash"]
	path = core/bash
	url = git@github.com:zerocore-ai-library/bash.git
[submodule "core/elicitation"]
	path = core/elicitation
	url = git@github.com:zerocore-ai-library/elicitation.git
[submodule "core/filesystem"]
	path = core/filesystem
	url = git@github.com:zerocore-ai-library/filesystem.git
[submodule "core/plugins"]
	path = core/plugins
	url = git@github.com:zerocore-ai-library/plugins.git
[submodule "core/system"]
	path = core/system
	url = git@github.com:zerocore-ai-library/system.git
[submodule "core/terminal"]
	path = core/terminal
	url = git@github.com:zerocore-ai-library/terminal.git
[submodule "core/todolist"]
	path = core/todolist
	url = git@github.com:zerocore-ai-library/todolist.git
[submodule "core/web"]
	path = core/web
	url = git@github.com:zerocore-ai-library/web.git
[submodule "external/atlassian"]
	path = external/atlassian
	url = git@github.com:zerocore-ai-library/atlassian.git
[submodule "external/elastic"]
	path = external/elastic
	url = git@github.com:zerocore-ai-library/elastic.git
[submodule "external/linear"]
	path = external/linear
	url = git@github.com:zerocore-ai-library/linear.git
[submodule "external/monday"]
	path = external/monday
	url = git@github.com:zerocore-ai-library/monday.git
[submodule "external/mongodb"]
	path = external/mongodb
	url = git@github.com:zerocore-ai-library/mongodb.git
[submodule "external/github"]
	path = external/github
	url = git@github.com:zerocore-ai-library/github.git
[submodule "core/opendata"]
	path = core/opendata
	url = git@github.com:zerocore-ai-library/opendata.git
[submodule "external/context7"]
	path = external/context7
	url = https://github.com/zerocore-ai-library/context7.git
[submodule "external/exa"]
	path = external/exa
	url = https://github.com/zerocore-ai-library/exa.git
[submodule "external/notion"]
	path = external/notion
	url = https://github.com/zerocore-ai-library/notion.git
[submodule "external/playwright"]
	path = external/playwright
	url = https://github.com/zerocore-ai-library/playwright.git
